.Home {
  text-align: center;
}
.BackImage{

  background-image: url("../../images/stock-handshake.jpeg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
.ImageCover{
  background-color:rgba(40, 44, 52, 0.7);
}
Navbar{
  height:100px;
}
.Hello{
  opacity:100;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-display: block;
}

